tl-msc-common==1.0.0.dev0+master.15170e44893ec4be9d5edd4df86b0b2af7ce3ac3
Flask-HTTPAuth==3.3.0
flask-smorest==0.19.2

# dev only requirements
fakeredis<1
flake8
freezegun
mock
moto
pytest
pytest-flake8
pytest-cov
pytest-sugar
tavern==0.22.1
