tl-msc-common==1.0.0.dev0+master.f548b84a77097e44df3295782078d78cc7e58aea

Flask-HTTPAuth==3.3.0

# dev only requirements
fakeredis<1
flake8
freezegun
mock
moto
pytest
pytest-flake8
pytest-cov
pytest-sugar
tavern==0.22.1
