tl-msc-common==1.0.0.dev0+master.7685c9b52085692fc7506a06b9397a37dd406307
Flask-HTTPAuth==3.3.0
marshmallow_enum==1.5.1

# dev only requirements
attrs==20.3.0
colorama
fakeredis>=1.5.1,<2
flake8>=3.9.2<4
flake8-commas
flake8-comprehensions
flake8-isort
flake8-printf-formatting
isort>=5.8.0,<6
pre-commit
pyclean
pyflakes
pytest-flake8
pytest-cov
pytest-sugar
tavern==1.14.2
